@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-Italic-webfont.woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans';
    src: url('../fonts/ClearSans-BoldItalic-webfont.woff');
    font-weight: 700;
    font-style: italic;
}