/* New variables */

$sm-font-size: 16px;
$sm-font-weight: 300;
$md-font-size: 18px;
$md-font-weight: 400;
$lg-font-size: 24px;
$lg-font-weight: 700;

//text p and a
$text-color1: rgb(233, 247, 255);
//Title 
$text-color2: rgb(201, 226, 240);
// darker text for specific uses
	// $blue5

$green1: rgb(176, 251, 188);
$green2: rgb(130, 249, 161);
$green2-opacity: rgba(130, 249, 161, 0.2);
$green3: rgb(94, 140, 167);

$blue1: rgb(17, 26, 32);
$blue1b: rgb(22, 33, 41);
$blue2: rgb(28, 44, 53);
$blue3: rgb(36, 59, 74);
$blue4: rgb(65, 104, 131);
$blue5: rgb(94, 140, 167);

//------------------------------------------------------


/* Colors */

$lighter-black: #4d4d4d;
$light-black: #424242;
$darker-black: #393939;
$green-highlight: rgb(105, 223, 174);
//$light-text: #b9d2d2;
//$lightest-text: #daf4f4;
$light-text: white;
$lightest-text: white;
//$green-box: #3c4d4f;
$green-box: #37483f;
